<link rel="stylesheet" href="~/css/layout/header.css">

<header class="container-header bg-header z-index-3">
    <section class="container-header-item ms-4">
        <a class="btn-header-logo" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="icon-header-logo">
                <img src="https://www.raymundodafonte.com.br/public/site/images/brand/icon-raymundo-da-fonte.png" alt="logomarca" width="28">
                <span class="ms-2 desc-header-logo">Raymundo da Fonte</span>
            </span>
        </a>
    </section>   
</header>
