@*Style header*@
<style>
    .bg-header {
        background-image: url("/img/background/bg-header.jpg") !important;
    }

    .bg-header-gradient {
        background-image: url("/img/background/bg-header-gradient.jpg") !important;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed !important;
        height: 52px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    .container-header-item {
        display: flex;
        align-items: center
    }
</style>
@*Style header item grupo 1*@
<style>
    .btn-header-toggle {
        background: transparent;
        border: 0;
        font-family: inherit;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        transition: 0.4s;
    }

    .btn-header-logo {
        background: transparent;
        border: 0;
        font-family: inherit;
        color: #ffffff;
        cursor: pointer;
        transition: 0.4s;
        text-decoration: none !important;
    }

    .icon-header-toggle {
        border-radius: 24px;
        line-height: 1;
        transition: all 0.2s;
    }

        .icon-header-toggle i {
            font-size: 28px;
            transition: 0.2s;
            border-radius: 50%;
            padding: 0px 6px 2px 7px;
            transition: all 0.4s;
        }

            .icon-header-toggle i:hover {
                background: rgba(231, 231, 231, 0.151);
            }

    .icon-header-logo {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 24px;
        line-height: 1;
        transition: all 0.2s;
    }
</style>
@*Style header item grupo 2*@
<style>
    .dropdown-header-user {
        display: flex;
        align-items: center;
        color:white;
        border: 0;
        background: transparent;
        height: 47px;
        border-radius: 11px;
        transition: all 0.2s;
    }

    .hover-three:hover {
        color: #a9a1a1;
    }

    .img-header-user {
        width: 44px;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.2s;
    }

    .dropdown-header-custom {
        width: 275px;
        left: unset !important;
        border-radius: 12px !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-bottom: 0 !important;
        border: 0;
    }

    .img-header-user-dropdown {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.2s;
        margin-left: 2px;
        border: 5px solid rgba(0,0,0,.2);
    }

</style>


<header class="container-header bg-header z-index-3">
    <div class="container-header-item">
        <button class="btn-header-toggle" id="btn-header-toggle" data-state="false">
            <span class="icon-header-toggle">
                <i class="bi bi-list"></i>
            </span>
        </button>
        <a class="btn-header-logo" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="icon-header-logo">
                <img src="https://www.raymundodafonte.com.br/public/site/images/brand/icon-raymundo-da-fonte.png" alt="logomarca" width="32">
                <span class="ms-3">Raymundo da Fonte</span>
            </span>
        </a>
    </div>
    <div class="container-header-item">
        <nav class="navbar box-shadow d-flex justify-content-end align-items-center me-4">
            <button type="button" class="dropdown-header-user" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><i class="bi bi-three-dots hover-three"></i></button>
            <button type="button" class="dropdown-header-user" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <span class="p-1" type="button">
                    <Image src="https://i.imgur.com/hczKIze.jpg" alt="foto do usuário" class="img-header-user"></Image>
                </span>
            </button>
            <ul class="dropdown-menu dropdown-header-custom">
                <li class="d-flex justify-content-center pt-2">
                    <Image src="https://i.imgur.com/hczKIze.jpg" alt="foto do usuário" class="img-header-user-dropdown" width=""></Image>
                </li>
                <li class="d-flex justify-content-center mt-1 ps-2 pe-2">
                    <div class="d-flex justify-content-center flex-column lh-sm">
                        <h5 class="text-center text-break">Matheus Feitosa</h5>
                        <p>feitosamatheus1997@hotmail.com</p>
                    </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li class="text-center mb-2">
                    <p>
                        Unidade: 102-Paulista
                    </p>
                </li>
                <li class="text-center overflow-hidden bg-primary" style="border-radius: 0px 0px 12px 12px; border-top: 1px solid #00000029;">
                    <a class="dropdown-item p-2 text-light" href="#">
                        <i class="bi bi-box-arrow-right me-1"></i>
                        Sair
                    </a>
                </li>
            </ul>
       </nav>
    </div>
</header>
