<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Estoque.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout/style-custom-layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Estoque.MVC.styles.css" asp-append-version="true" />
</head>

<body style="background: #e9ebf2 !important;">
    @*style="background: #F7F9FC !important;"*@
    <header class="z-index-3 bg-header header">
        <div class="d-flex align-items-center justify-content-center" >
            <div class=" d-flex justify-content-center" style="width: 60px;">
                <button class="sb-toggle btn-toggle" data-state="false">
                    <span class="icon-sb-toggle">
                        <i class="icon-header bi bi-list"></i>
                    </span>
                </button>
            </div>
            <div class=" d-flex justify-content-center ms-3">
                <button class="sb-toggle">
                    <span class="icon-sb-toggle d-flex flex-nowrap align-items-center ">
                        @* <img src="https://www.raymundodafonte.com.br/public/site/images/brand/brand-raymundo-da-fonte.png" alt="" width="263px"> *@
                        <img src="https://www.raymundodafonte.com.br/public/site/images/brand/icon-raymundo-da-fonte.png" alt="" width="32px;">
                        <span class="ms-2">Raymundo da Fonte</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <nav class="navbar navbar-light box-shadow">
                <div class="container-fluid d-flex justify-content-end">
                    <div class="d-flex justify-content-end me-2 align-items-center">
                        @*<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><i style="font-size:18px;" class="icon-header bi bi-bell"></i></a>*@
                        <button type="button" class="dropdown-toggle-user" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            @* <span class="bi bi-arrow-90deg-down mt-1 ms-2 text-light"></span> *@
                            <span class="sb-header p-1" type="button" aria-expanded="false">
                                <Image src="https://i.imgur.com/hczKIze.jpg" alt="foto do usuário" class="sb-img-user"></Image>
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-custom shadow-lg" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                            <li class="d-flex justify-content-center pt-2">
                                <Image src="https://i.imgur.com/hczKIze.jpg" alt="foto do usuário" class="sb-img-user-dropdown" width=""></Image>
                            </li>
                            <li class="d-flex justify-content-center mt-1 ps-2 pe-2">
                                <div class="d-flex justify-content-center flex-column lh-sm">
                                    <h5 class="text-center text-break" style="font-weight: 600;">Matheus Feitosa</h5>
                                    <p class="text-break">feitosamatheus1997@hotmail.com</p>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="text-center mb-2">
                                <span class="">
                                    @* <i class="bi bi-building-fill me-2"></i>  *@
                                    Unidade: 102-Paulista
                                </span>
                            </li>
                            @* <li><hr class="dropdown-divider"></li> *@
                            <li class="text-center overflow-hidden bg-primary" style="border-radius: 0px 0px 12px 12px; border-top: 1px solid #00000029;">
                                <a class="dropdown-item p-2 text-light" href="#">
                                    <i class="bi bi-box-arrow-right me-1"></i>
                                     Sair
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="container-conteudo-pri">
        <aside class="sb-container">
            <nav class="sb-nav">
                <a class="sb-coluna" asp-area="" asp-controller="Estoque" asp-action="Index">
                    <span class="icon-sb-coluna ">
                        <i class="bi bi-box-seam-fill sb-icon"></i>
                        <span class="sb-item-coluna">Estoque</span>
                    </span>
                </a>
                <a class="sb-coluna" href="/agendamento">
                    <span class="icon-sb-coluna ">
                        <i class="bi bi-card-checklist sb-icon"></i>
                        <span class="sb-item-coluna ">Pedidos</span>
                    </span>
                </a>
                <a class="sb-coluna" href="/historico">
                    <span class="icon-sb-coluna ">
                        <i class="bi bi-bar-chart-fill sb-icon"></i> 
                        <span class="sb-item-coluna ">Duvidas</span>
                    </span>
                </a>
            </nav>
            <nav class="sb-nav border border-0">
                <a class="sb-coluna" href="/">
                    <span class="icon-sb-coluna ">
                        <i class="bi bi-shop-window sb-icon"></i>
                        <span class="sb-item-coluna">Estoque</span>
                    </span>
                </a>
                <a class="sb-coluna" href="/agendamento">
                    <span class="icon-sb-coluna ">
                        <i class="bi bi-question-circle sb-icon"></i>
                        <span class="sb-item-coluna">Pedidos</span>
                    </span>
                </a>
            </nav>
        </aside>
        <main class="main" role="main">
            <section class="pb-3">
                @RenderBody()
            </section>
            @*<partial name="_LoginPartial" />*@
        </main>
       @* <footer class="border-top footer text-muted main">
            <div class="container">
                &copy; 2023 - Estoque.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const sideContainer = document.querySelector('.sb-container');
        const toggle = document.querySelector('.btn-toggle');
        const main = document.querySelector('.main');
        const descItem = document.querySelectorAll('.sb-item-coluna');
        const iconColuna = document.querySelectorAll('.icon-sb-coluna');

        
        toggle.onclick = function(){
            toggleSidebar();
        };

        function toggleSidebar(){
            var classes = toggle.getAttribute("data-state");
            if(classes === "false"){
                sideContainer.classList.add("open-sb-container");
                main.classList.add("open-main");
                iconColuna.forEach(element => {
                    element.classList.add("open-icon-sb-coluna");
                })
                descItem.forEach(element => {
                    element.classList.add("open-desc-item");
                })
                toggle.setAttribute("data-state", "true");
            }else{
                sideContainer.classList.remove("open-sb-container");
                main.classList.remove("open-main");
                 iconColuna.forEach(element => {
                    element.classList.remove("open-icon-sb-coluna");
                })
                descItem.forEach(element => {
                    element.classList.remove("open-desc-item");
                })
                toggle.setAttribute("data-state", "false");
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
