<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Estoque.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Estoque.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    @await Html.PartialAsync("_Header")
    <section class="cont-section-principal">
        @await Html.PartialAsync("_Sidebar")
        @await Html.PartialAsync("_SidebarMobile")
        
        <main class="main" role="main">
            <section class="pb-3">
                @RenderBody()
            </section>
            @*<partial name="_LoginPartial" />*@
        </main>
    </section>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const containerSidebar = document.querySelector('.cont-sidebar');
        const containerSidebarMobile - mobile = document.querySelector('.cont-sidebar-mobile');
        const btnToggle = document.querySelector('#btn-header-toggle');
        const main = document.querySelector('.main');
        const descItem = document.querySelectorAll('.desc-col-sidebar');
        const iconColuna = document.querySelectorAll('.span-col-sidebar');

        btnToggle.onclick = () => toggleSidebar();

        const toggleSidebar = () => {
            var statusAtual = btnToggle.getAttribute("data-state");
            var statusFechado = "false";
            var statusAberto = "true";
            
            if (statusAtual === statusFechado) {
                containerSidebar.classList.add("open-cont-sidebar");
                containerSidebarMobile.classList.add("open-sb-container-mobile");
                main.classList.add("open-main");
                iconColuna.forEach(element => {element.classList.add("open-icon-col-sidebar");})
                descItem.forEach(element => {element.classList.add("open-desc-col-sidebar");})
                btnToggle.setAttribute("data-state", statusAberto);
            }else{
                containerSidebar.classList.remove("open-cont-sidebar");
                containerSidebarMobile.classList.remove("open-sb-container-mobile");
                main.classList.remove("open-main");
                iconColuna.forEach(element => {element.classList.remove("open-icon-col-sidebar");})
                descItem.forEach(element => {element.classList.remove("open-desc-col-sidebar");})
                btnToggle.setAttribute("data-state", statusFechado);
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
