<link rel="stylesheet" href="~/css/layout/sidebarMobile.css">

<aside class="cont-sidebar-mobile">
    <nav class="nav-sidebar-mobile">
        <a class="col-sidebar-mobile" asp-area="" asp-controller="Estoque" asp-action="Index">
            <span class="span-col-sidebar-mobile ">
                <i class="bi bi-box-seam-fill icon-col-sidebar-mobile"></i>
                <span class="sb-item-coluna-mobile">Estoque</span>
            </span>
        </a>
        <a class="col-sidebar-mobile" asp-area="" asp-controller="Pedido" asp-action="Index">
            <span class="span-col-sidebar-mobile">
                <i class="bi bi-card-checklist icon-col-sidebar-mobile"></i>
                <span class="sb-item-coluna-mobile">Pedidos</span>
            </span>
        </a>
        <a class="col-sidebar-mobile" href="/historico">
            <span class="span-col-sidebar-mobile">
                <i class="bi bi-bar-chart-fill icon-col-sidebar-mobile"></i>
                <span class="sb-item-coluna-mobile">Duvidas</span>
            </span>
        </a>
    </nav>
    <nav class="nav-sidebar-mobile border border-0">
        <a class="col-sidebar-mobile" href="/">
            <span class="span-col-sidebar-mobile">
                <i class="bi bi-shop-window icon-col-sidebar-mobile"></i>
                <span class="sb-item-coluna-mobile">Estoque</span>
            </span>
        </a>
        <a class="col-sidebar-mobile" href="/agendamento">
            <span class="span-col-sidebar-mobile">
                <i class="bi bi-question-circle icon-col-sidebar-mobile"></i>
                <span class="sb-item-coluna-mobile">Pedidos</span>
            </span>
        </a>
    </nav>
</aside>