.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed !important;
    height: 52px;
    /* box-shadow: 0 .125rem .25rem rgba(0,0,0,0.375)!important; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


.container-conteudo-pri{
    position: relative;
    top: 65px;
    height: 100vh;
}

.icon-header{
    font-size: 21px;
    padding: 4px 8px;
    border-radius: 50%;
    transition: all 0.2s;
}

.icon-header:hover {
    background: rgba(231, 231, 231, 0.151);
}

.sb-toggle {
    /* height: 60px; */
    background: transparent;
    border: 0;
    font-family: inherit;
    color: #ffffff;
    cursor: pointer;
    /* text-align: left;
    padding: 0;
    margin-left: 55px; */
    transition: 0.4s;
    /* position: fixed; */
}

.icon-sb-toggle {
    /* display: inline-flex;
    align-items: center;
    gap: 12px; */
    /* height: 48px; */
    /* padding: 2px 0px 0px 1px; */
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
}

.icon-sb-toggle i {
    /* position: relative; */
    font-size: 28px;
    transition: 0.2s;
    border-radius: 50%;
    padding: 0px 6px 2px 7px;
    transition: all 0.4s;
}

.icon-sb-toggle i:hover{
    background: rgba(231, 231, 231, 0.151);

}

.sb-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 47px;
    width: 55px;
    height: 100%;
    padding: 0px 5px 15px 5px;
    border-right: 1px solid #2f333612;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: all 0.35s;
    color: #3d4b52;
    background: white;
}

.sb-logo {
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    transition: 0.4s;
    margin-bottom: 40px;
    margin-top: 11px;
    transition: all 0.4s;
}

.icon-logo {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 2px 0px 0px 1px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.4s;
}

.sd-img-logo {
    width: 38px;
    min-height: 92px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.4s;
}

.sb-nav {
    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: padding 0.4s;
    padding-top: 10px;
    border-bottom: 1px solid #00000021;
}

.sb-coluna {
    height: 50px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.icon-sb-coluna {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 42px;
    border-radius: 100%;
    width: 100%;
    transition: all 0.04s;
}

.icon-sb-coluna:hover {
    /* background: rgba(255,255,255,0.08); */
    background: rgba(0, 0, 0, 0.075);
    /*color: #aa0dfd;*/
}

.sb-icon {
    position: relative;
    font-size: 19px;
    transition: 0.2s;
    padding: 13px;
}

.sb-item-coluna {
    opacity: 0;
    visibility: hidden;
    color: #000;
    transition: all 0.04s;
}

.sb-header {
    width: 100%;
    line-height: 1;
    transition: all 0.4s;
    white-space: nowrap;
    cursor: pointer;
    border: 0;
    background: transparent;
}

.sb-desc-usuario {
    margin-left: 5px;
    margin-top: 4px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
}

.dropdown-toggle-user{
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    height: 47px;
    border-radius: 11px;
    transition: background 0.2s;
}
.dropdown-toggle-user:hover{
    background: rgba(231, 231, 231, 0.151);
    /* transform: scale(1.05); */
}

.dropdown-menu-custom{
    width: 275px;
    left: unset !important;
    border-radius: 12px !important;   
    padding-bottom: 0 !important;
    border: 0;
}

.sb-img-user {
    width: 41px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s;
    margin-left: 2px;
}

.sb-img-user-dropdown{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s;
    margin-left: 2px;
    border: 5px solid rgba(0,0,0,.2);
}
/* .sb-img-user:hover {
    transform: scale(1.05);
} */

.main {
    margin-left: 65px;
    margin-right: 4px;
    overflow: hidden;
    transition: margin 0.4s;
    color: black;
}


/*@media (width < 920px) {
    .main {
        margin-left: 105px;
        margin-right: 23px;
    }
}*/

/******** INTERATIVIDADE SIDEBAR DESKTOP ******/

.open-sb-container {
    width: 180px !important;
}
.open-main {
    margin-left: 190px;
    margin-right: 6px;
    margin-top: 0;
}
.open-desc-item {
    opacity: 1;
    visibility: visible;
    font-size: 15px;
}
.open-icon-sb-coluna {
    border-radius: 7px;
}


.z-index-3 {
    z-index: 1003 !important;
}

.z-index-2 {
    z-index: 1002 !important;
}

.z-index-1 {
    z-index: 1001 !important;
}

.bg-header{
    background-image:url("/img/background/bg-header.jpg") !important;
}

.bg-header-gradient {
    background-image: url("/img/background/bg-header-gradient.jpg") !important;
}

.tipo-fisico {
    /*cursor: pointer;*/
    color: #3d4b52a1;
    font-weight: 600;
}
.tipo-debito {
    cursor: pointer;
    color: #3d4b52a1;
    font-weight: 600;
}
.tipo-toggle {
    cursor: pointer;
    color: #3d4b52;
    font-weight: 600;
}

.active-navbar-estoque {
    border-bottom: 2px solid #96a1a7 !important;
    color: #3d4b52;
}

.active-toggle-estoque {
    color: #3d4b52;
}

@media (width < 680px) {
    .sb-container {
        display:none;
    }
    .main {
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 0;
    }
}